[Unit]
Description=Tuya Bluetooth Daemon
After=network.target

[Service]
Type=simple
User=nobody
ExecStart=/srv/tuya/venv/bin/python -u /srv/tuya/tuyabt /srv/tuya/tuyabt.yml
NoNewPrivileges=true
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=strict
ProtectHome=yes
ProtectClock=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
RestrictNamespaces=yes
LockPersonality=yes
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
